---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import Container from "@components/Container.astro";
import Frame from "@components/Frame.astro";

import { getCollection } from "astro:content";
const [globalEntries, restaurantEntries] = await Promise.all([
    getCollection("global"),
    getCollection("restaurant"),
]);

const restaurantText = globalEntries.find((e) => e.slug === "restaurant-text");
if (!restaurantText) throw new Error("Missing restaurant-text entry");

const sortedRestaurants = restaurantEntries.sort(
    (a, b) => a.data.id - b.data.id,
);
const groupedRestaurants = [
    sortedRestaurants.slice(0, 2),
    sortedRestaurants.slice(2, 3),
    sortedRestaurants.slice(3, 5),
];

const PAGE_TITLE = "Chez Nous";
const HERO_TITLE = "Pizza,\nPasta,\nDolce vita";
---

<BaseLayout pageTitle={PAGE_TITLE}>
    <Hero title={HERO_TITLE} />

    <section id="restaurant" class="c-section -padding-top">
        <Container>
            <div class="o-layout">
                {
                    groupedRestaurants.map((group, index) => (
                        <div class="o-layout__item">
                            {index === 1 && (
                                <div class="c-frame -article">
                                    <div class="c-frame__heading -article">
                                        <h1>{PAGE_TITLE}</h1>
                                        <h2>
                                            {restaurantText.data.subheading ??
                                                "Sous-titre non disponible."}
                                        </h2>
                                        <div style="white-space: pre-line;">
                                            {restaurantText.data.paragraph ??
                                                "Texte non disponible."}
                                        </div>
                                    </div>
                                </div>
                            )}
                            {group.map(({ data }) => (
                                <Frame
                                    key={data.id}
                                    title={data.title}
                                    description={data.description}
                                    image={data.image}
                                />
                            ))}
                        </div>
                    ))
                }
            </div>
        </Container>
    </section>

    <!-- Future contact section -->
    <!-- <section class="contact">...</section> -->

    <style></style>
</BaseLayout>
