---
//import "@styles/index.css";
import "@styles/_imports.scss";
import { Seo } from "astro-seo-meta";
import { Header, Banner, Footer, FooterSlogan } from "@components/index";

import "@fontsource/metropolis/300.css";
import "@fontsource/metropolis/400.css";
import "@fontsource-variable/fraunces/wght.css";

import metropolis300Woff2 from "@fontsource/metropolis/files/metropolis-latin-300-normal.woff2?url";
import metropolis400Woff2 from "@fontsource/metropolis/files/metropolis-latin-400-normal.woff2?url";
import frauncesWoff2 from "@fontsource-variable/fraunces/files/fraunces-latin-wght-normal.woff2?url";

import { siteConfig } from "@content/config";
---

<!doctype html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <script is:inline>
            (() => {
                function setLayoutVariables() {
                    const vh = window.innerHeight * 0.01;
                    const vw = window.innerWidth * 0.01;

                    document.documentElement.style.setProperty(
                        "--vh",
                        `${vh}px`,
                    );
                    document.documentElement.style.setProperty(
                        "--vw",
                        `${vw}px`,
                    );

                    const banner = document.querySelector("[data-banner]");

                    if (banner) {
                        const hBanner = banner.offsetHeight;
                        document.documentElement.style.setProperty(
                            "--h-banner",
                            `${hBanner}px`,
                        );
                    }
                }

                requestAnimationFrame(() => {
                    setLayoutVariables();
                });

                window.addEventListener("resize", setLayoutVariables);
            })();
        </script>

        <link
            rel="preload"
            href={metropolis400Woff2}
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href={metropolis300Woff2}
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href={frauncesWoff2}
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />

        <Seo
            title={siteConfig.titles.SITE_TITLE}
            description="Chez Nous, pizzeria artisanale à Vermenton (89270). Dégustez des pizzas faites maison, sur place, dans une ambiance conviviale avec des ingrédients frais et de qualité."
        />
    </head>
    <body>
        <Header />
        <main id="main" class="o-main">
            <slot />
        </main>
        <Banner
            generalInfo="réservations & privatisation : "
            additionalInfo="accessibilité PMR"
        />
        <FooterSlogan textSlogan={siteConfig.slogan} />
        <Footer />
    </body>
</html>
