---
import "@styles/global.scss";
import Header from "@components/Header.astro";
import { Seo } from "astro-seo-meta";
import Banner from "@components/Banner.astro";

// Import the font styles
import "@fontsource/metropolis";
import "@fontsource-variable/fraunces";

// Import the font files as URLs
import metropolis400Woff2 from "@fontsource/metropolis/files/metropolis-latin-400-normal.woff2?url";
import metropolis300Woff2 from "@fontsource/metropolis/files/metropolis-latin-300-normal.woff2?url";
import frauncesWoff2 from "@fontsource-variable/fraunces/files/fraunces-latin-wght-normal.woff2?url";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <!-- Use the imported font URLs for preloading -->
        <link
            rel="preload"
            href={metropolis400Woff2}
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href={metropolis300Woff2}
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href={frauncesWoff2}
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />

        <Seo
            title={pageTitle}
            description="Chez Nous, pizzeria artisanale à Vermenton (89270). Dégustez des pizzas faites maison, sur place, dans une ambiance conviviale avec des ingrédients frais et de qualité."
        />
    </head>
    <body>
        <Header />
        <main id="main" class="o-main">
            <slot />
        </main>
        <Banner
            generalInfo="réservations & privatisation : "
            additionalInfo="accessibilité PMR"
            phoneNumber="03 86 51 89 56"
        />
        <script>
            import "../scripts/vh-responsive.js";
        </script>
    </body>
</html>
